# Awesome Tech Conferences

Awesome Tech Conferences is a curated list of tech conferences.

## Conferences
$AWESOME$
## Contributing

Feel free to submit new tech conferences by adding them to `./confs.yaml`, also add yourself to `./contributors.yaml`.

For further details see `CONTRIBUTING.md`
