{{ $df:= "January 2, 2006" }}
{{ with .Site.Params.customDateFormat }}{{ $f = . }}{{ end }}
<div class="conference p-4 w-full text-center bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700"
data-name="{{ .name | safeHTML}}"
data-topics="{{ first 5 .topics | jsonify }}"
data-country="{{ .country | safeHTML }}" 
data-mode="{{ .mode | safeHTML }}">
    <h2 class="mb-2 text-2xl text-gray-900 dark:text-white">{{ .name | safeHTML }}</h2>
    <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">
        {{ if eq .mode "virtual" }}
            <div> 🌎 Online </div>
        {{ else }}
            <div>{{ .country}} {{ .city}}</div>
        {{ end }}
        <div>
            {{ time.Format $df .start }} - {{ time.Format $df .end }}
        </div>
    </p>
    <div class="flex flex-row flex-wrap text-center gap-3 text-xl justify-items-center justify-center my-2">
        {{ range .topics }}
        <label class="text-sm bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-[6px] py-[2px] dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            {{ . | safeHTML}}
        </label>
        {{ end }}
    </div>
    <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">
        {{ .description | safeHTML }}
    </p>
    <div class="justify-center items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
        <a href="{{ .url }}" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <div class="text-left">
                <div class="-mt-1 font-sans text-sm font-semibold">Visit Conference Website</div>
            </div>
        </a>
        {{ with .twitter }}
        <a href="https://twitter.com/{{ .twitter }}" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <div class="text-left">
                <div class="-mt-1 font-sans text-sm font-semibold">Check Conference Twitter</div>
            </div>
        </a>
        {{ end }}
    </div>
</div>
<!-- --->
