{{ $countries := newScratch }}
{{ $topics := newScratch }}
{{ $modes := newScratch }}
{{ $cfp := 0}}
{{ $all := (where .Site.Data.confs "start" "ge" (now.Format "2006-01-02"))}}
{{ range $all}}
{{ with .cfp }}
    {{ $s := time .start }}
    {{ $e := time .end }}
    {{ if and (ge now.Unix $s.Unix) (le now.Unix $e.Unix)}}
        {{ $cfp = add $cfp 1 }}
    {{ end}}
{{ end }}
{{ $countries.Add .country 1}}
{{ $modes.Add .mode 1}}
{{ range .topics }}
    {{ $topics.Add . 1}}
{{ end }}
{{ end }}

<script type="text/javascript">
    window.filterValue = '';
    function setAsFilter(e) {
        const target = document.querySelector('input[name="filter"][value="' + e.innerText + '"]');
        if (target) {
            target.checked = true;
            filter(target)
        }
    }
    // create a function that modifies a add a class to the element that is clicked
    function toggleFilter(e) {
        
        e.parentElement.classList.toggle('border-sky-800');
        e.parentElement.classList.toggle('bg-sky-900');
        e.parentElement.classList.toggle('bg-fuchsia-600');
        e.parentElement.classList.toggle('border-fuchsia-700');
    }
    function filter(e) {
        // toggleFilter(e)
        const val = !e? '' : e.value;
        resetResults();
        if (val) {
            filterList(val);
        }
    }

    function resetResults() {
        const conferences = document.querySelectorAll('.conference');
        conferences.forEach(function (conference) {
            conference.classList.remove('hidden');
        });
    }
    function filterList(selection){
        const conferences = document.querySelectorAll('.conference');
        conferences.forEach(function (conference) {

            const idx = JSON.parse(conference.dataset.topics);
            idx.push(conference.dataset.country)
            idx.push(conference.dataset.mode);
            idx.push(conference.dataset.cfp)
            
            if (!idx.includes(selection)) {
                conference.classList.add('hidden');
                return;
            }
        });
    }
    
</script>
<div class="text-lg flex flex-row flex-wrap text-center gap-3 justify-items-center justify-center mb-10 mx-[10%]">
    <div>
        <input onclick="filter()" checked class="hidden peer" type="radio" name="filter" id="filter-none" value="">
        <label class="border border-sky-800 bg-gray-700 hover:bg-gray-700 peer-checked:border-fuchsia-400 peer-checked:text-white peer-checked:bg-fuchsia-800 px-[6px] py-[4px] cursor-pointer" for="filter-none">
            All ({{ len $all }})
        </label>
    </div>
    <div>
        <input onclick="filter(this)" class="hidden peer" type="radio" name="filter" id="filter-cfp" value="open-cfp">
        <label class="border border-sky-800 bg-gray-700 hover:bg-gray-700 peer-checked:border-fuchsia-400 peer-checked:text-white peer-checked:bg-fuchsia-800 px-[6px] py-[4px] cursor-pointer" for="filter-cfp">
            Active Call for Papers ({{ $cfp }})
        </label>
    </div>
        {{ range $key, $value := $modes.Values}}
            <div>
                <input onclick="filter(this)" class="hidden peer" type="radio" name="filter" id="filter-{{ $key | safeHTML }}" value="{{ $key | safeHTML }}">
                <label class="text-white rounded-lg bg-gray-700 hover:bg-gray-600 peer-checked:text-white peer-checked:bg-fuchsia-800 px-[6px] py-[4px] cursor-pointer" for="filter-{{ $key | safeHTML }}">
                    {{ $key | safeHTML}} ({{ $value }})
            </label>
        </div>
        {{ end }}
        {{ range $key, $value := $countries.Values }}
            <div>
                <input onclick="filter(this)" class="hidden peer" type="radio" name="filter" id="filter-{{ $key | safeHTML }}" value="{{ $key | safeHTML }}">
                <label class="text-white rounded-lg bg-gray-700 hover:bg-gray-600 peer-checked:text-white peer-checked:bg-fuchsia-800 px-[6px] py-[4px] cursor-pointer" for="filter-{{ $key | safeHTML }}">
                    {{ $key | safeHTML}} ({{ $value }})
                </label>
            </div>
        {{ end }}
        {{ range $key, $value := $topics.Values}}
            <div>
                <input onclick="filter(this)" class="hidden peer" type="radio" name="filter" id="filter-{{ $key | safeHTML }}" value="{{ $key | safeHTML }}">
                <label class="text-white rounded-lg bg-gray-700 hover:bg-gray-600 peer-checked:text-white peer-checked:bg-fuchsia-800 px-[6px] py-[4px] cursor-pointer" for="filter-{{ $key | safeHTML }}">
                    {{ $key | safeHTML}} ({{ $value }})
                </label>
            </div>
        {{ end }}
</div>
